.*.swp
._*
.DS_Store
.git
.gitignore
.hg
.npmignore
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log

src/
example/
node_modules/
tests/
test-results/
playwright-report/
playwright.config.ts
tsconfig.json
.github/